#selectOption{
      margin-top: 5%;
       font-family:monospace; 
      font-size: 3rem;  
      border: 2px solid black;
      border-style: solid;
      background-color: blueviolet;
      border-left: 0cqi;
      border-right: 0cqi;
      color: white;
      
}